<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" type="text/css" href="../static/css/dc.css" media="screen" />
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='css/frontpage.css') }}">
    </head>
    <body>
        <div class = "bodyWrapper">
            <div class = "description" >
                Insert whatever explanation that you wish to explain here.
            </div>
            <div class = "selection">
                <div class= "leftselection">
                    <div class = "selected">            
                        Subscribe your word
                    </div>
                </div>
                
                <div class = "rightselection">
                    <div class = "unselected">
                        Search your word
                    </div>
                </div>
            </div>
            
            <div class = "textBox">
                <input type="text" name="addNew" class="addNewEmail" title="Enter your email" placeholder="Enter your email" style="color:#888;" onfocus="inputFocus(this)"  onblur="inputBlur(this)" >

            </div>
            
            <div class="sendRequest" id="getRequest">
                SUBMIT
            </div>
            
            <div class = "subscribedWrapper">
                <div class = "subscribed subscribe">
                    <div class = "subscribeBar">
                        <input type="text" name="addNew" class = "addNewWord" title="Enter the word" placeholder="Enter the word" style="color:#888;" onfocus="inputFocus(this)"  onblur="inputBlur(this)">
                        <div class = "newSubWord">
                            Subscribe
                        </div>
                    </div>
                </div>
            </div>
            <div class = "wordSearchWrapper">
                <div class = "wordSearch wordS">
                    <div class='row'>
                        <div class='span6' id='dc-magnitude-chart'>
                            <h4>Events by Magnitude</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="../static/js/d3.js" charset="utf-8"></script>
        <script src="../static/js/crossfilter.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.js" charset="utf-8"></script>
        
        <script src= "{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/front.js') }}"></script>
    </body>

</html>