<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/frontpage.css">
    </head>

    <body>
        <div class = "bodyWrapper">
            <div class = "description" >
                This is just a place holder for description: need to be added for later use
            </div>
            <div class = "selection">
                <div class= "leftselection">
                    <div class = "selected">            
                        email
                    </div>
                </div>
                
                <div class = "rightselection">
                    <div class = "unselected">
                        word
                    </div>
                </div>
            </div>
            
            <div class = "textBox">
                <input type="text" name="search">
            </div>
            
            <div class="sendRequest" id="getRequest">
                SUBMIT
            </div>
            
            <div class = "subscribedWrapper">
                <div class = "subscribed subscribe">
                    <!--<div class = "subscribedcontent"><input type="checkbox" name="deleteContent"></div>-->
                    <div class = "subscribeBar">
                        <input type="text" name="addNew" class = "addNewWord">
                        <div class = "newSubWord">
                            Subscribe
                        </div>
                    </div>
                    <div class = "wordList">
                    
                    </div>
                </div>
            </div>
            
            <div class = "wordSearchWrapper">
                <div class = "wordSearch wordS">
                </div>
            </div>
        </div>
        
        <script src= "../static/js/jquery-1.11.3.min.js"></script>
        <script src="../static/js/front.js"></script>
    </body>

</html>